<mat-tab-group mat-align-tabs="center" #musicTab>
    <mat-tab label="All Song">
        <div class="search-bar-wrap">
            <input type="text" class="search-ip" (input)="searchSong($event.target.value)">
        </div>
        <div class="play-container">
            <ng-container *ngFor="let song of songs | async">
                <div class="play-card">
                    <div class="play-icon">
                        <img [src]="song.thumbnailUrl" class="play-img" />
                    </div>
                    <div>
                        <h3 class="song-title">{{ song.title }} </h3>
                        <p class="album-title">{{ song.album.title }}</p>
                        <div class="player-info">
                            <span class="singer-title">{{ song.singer}}</span>
                            <span class="song-time">{{ song.playTime }}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </mat-tab>

    <mat-tab label="Playlist">
        <div class="add-playlist-wrapper" (click)="createPlaylist()">
            <mat-icon>add</mat-icon>
            <p class="create-playlist-text">Create Playlist</p>
        </div>
        <div *ngFor="let playlist of playlists" (click)="goToPlaylist(playlist)">
            <div class="playlist-wrapper">
                <img src="assets/playlist_icon" class="playlist-img" />
                <div class="playlist-content">
                    <div class="playlist-upper-content">
                        <h3 class="playlist-name"> {{ playlist.name }} </h3>
                        <span> {{ playlist.createdAt | date: 'short' }} </span>
                    </div>
                    <div class="playlist-lower-content">
                        <span>{{ playlist.songs.length }} songs</span>
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>