h3, p {
    padding: 0;
    margin: 0;
}

.top-header {
    display: flex;
    flex-flow: column;
    padding: 20px 15px;

    button.tab-btn {
        background-image: linear-gradient(to right,#187de4,#79c3db);
        border: none;
        color: #fff;
        padding: 8px 15px;
        width: 100px;
        border-radius: 100px;
        margin-bottom: 10px;
    }
    
    input.search-ip {
        height: 32px;
        border-radius: 100px;
        background-color: #666;
        border: none;
        outline: none;
        padding: 0 13px;
    }
}
.play-container {
    padding: 20px 15px;
}
img.play-img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.play-icon {
    display: flex;
    align-items: baseline;
}

.play-card {
    border-bottom: 1px solid #f3f6f9;
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .song-title {
        text-transform: capitalize;
    }

    .player-info {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    
    .singer-title {
        font-size: 15px;
        color: #7a7a7a;
    }
    
    .song-time {
        color: #ccc;
        font-size: 14px;
        color: #7a7a7a;
    }

    .album-title {
        font-size: 15px;
        text-transform: capitalize;
        color: #7a7a7a;
        margin: 5px 0;
    }    

}

