<div *ngIf="isAllSongs; else playList">
    <div class="top-header">
        <button type="button" class="tab-btn" (click)="goToPlaylistTab()">playlist tab</button>
        <input type="text" class="search-ip" (input)="searchSong($event.target.value)">
    </div>
    <div class="play-container">
        <ng-container *ngFor="let song of songs | async">
            <div class="play-card">
                <div class="play-icon">
                    <img src="assets/92c952.png" class="play-img" />
                </div>
                <div>
                    <h3 class="song-title">{{ song.title }} </h3>
                    <p class="album-title">{{ song.album.title }}</p>
                    <div class="player-info">
                        <span class="singer-title">{{ song.singer}}</span>
                        <span class="song-time">{{ song.playTime }}</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #playList>
    <button type="button" (click)="goToAllSongTab()">All song tab</button>
    <h1>Playlist</h1>
    <button type="button" (click)="createPlaylist()">Create Playlist</button>
    <div *ngFor="let playlist of playlists" (click)="goToPlaylist(playlist)">
        <div style="border: 1px solid red; padding: 10px">
            <div style="display: flex; align-items: center;">
                <h3 style="margin-right: 10px;">{{ playlist.name }} </h3>
            </div>
            <div style="display: flex; align-items: center;">
                <strong style="margin-right: 10px;">{{ playlist.createdAt | date: 'short' }}</strong>
            </div>
        </div>
    </div>
</ng-template>